body {
  background-color: #99C08E;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;

}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.landing-title {
  font-size: 5em;
  line-height: 1.1;
  text-align: center;
}

.bear {
  width: 20empx;
  height: 20em;
}

.landing-description {
  font-size: 1.5em;
  margin-bottom: 2em;
}