body {
  background-color: #FDECE0;
  color: black;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  width: 100%;
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw; /* Fixed spacing */
  height: 100vh;
}

.landing-title {
  font-size: 6em;
  line-height: 1.1;
  text-align: center;
  font-weight: 700;
}

.button {
  background-color: #6C3E10;
  color: white;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #995b1d;
}

.bear {
  height: 25em;
  margin-top: -2em;
  transition: transform 0.5s ease-in-out;
}

.bear:hover {
  transform: scale(1.1);
}

.landing-description {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.selector-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw; /* Fixed spacing */
  height: 100vh;
}

.selector {
  width: 60vw;
}

.selector-intolerances {
  color: black;
  margin-top: 1em;
  margin-bottom: 0.5em;
  // margin-block: 0.5em;
}

.selector-intolerances-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: left;
  padding-left: 12vw;
  font-size: 18px;
}

.selector-intolerances-form input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 5px;
}

.selector-intolerances-form input[type="checkbox"]:checked {
  background-color: green; /* changes background when checked */
  border-color: green; /* changes the border to green */
  accent-color: green; /* modern browsers (Chrome, Edge) support this for styling checkboxes */
}

.selector-cuisines {
  color: black;
  margin-block: 1em;
}

.selector-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-left: 3em;
  margin-bottom: 2em;
}

.btn-select-cuisine {
  background-color: #6C3E10;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 1em;
  padding: 0.8em 0.5em;
  border: none;
  margin-block: 0.1em;
  border-radius: 1.8em;
  cursor: pointer;
}

.btn-select-cuisine:hover {
  background-color: #995b1d;
  color: white;
}

.btn-check:checked + .btn-select-cuisine {
  background-color: #995b1d;
  color: white;
}

.button-get-recipes {
  width: 250px; 
  height: 80px;
  font-size: 1.5em;
  background-color: black;
}

.button-get-recipes:hover {
  background-color: rgb(55, 54, 54);
}

.selector-bear {
  padding: 0;
  margin: 0;
}

.selector-bear-image {
  width: 35em;
  margin-top: -5em;
  margin-bottom: -2em;
  transition: transform 0.5s ease-in-out;
}

.selector-bear-image:hover {
  transform: scale(1.1);
}

.selector-bear-title {
  font-size: 4em;
  font-weight: 700;
  margin-top: 2vh;
}

.meals-title {
  font-size: 3em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

.meal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2em;
}

.meal-card {
  background-color: #6C3E10;
  border-radius: 1em;
  width: 25vw;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  cursor: pointer; /* Added missing semicolon */
  transition: transform 0.5s ease-in-out;
}

.meal-card:hover {
  transform: scale(1.05);
}

.meal-image {
  width: 85%;
  border-radius: 1em;
}

.meal-title {
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1em;
}

.full-recipe-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset to center based on width and height */
  z-index: 100;
  background-color: #6C3E10;
  width: 80vw;
  height: 96vh; /* Adjust this as needed to fit your content */
  padding-left: 2em;
  padding-right: 2em;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
}

.recipe-container-2 {
  width: 40vw;
  margin-left: 2em;
}

.recipe-instructions {
  color: white;
  margin-top: 1em;
}

.recipe-instructions-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 2em;
}

.recipe-instructions-steps {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
  text-align: left;
  max-height: 30vh;
  overflow-y: auto;
  padding-right: 1em;
}

.recipe-ingredients {
  color: white;
  margin-top: 1em;
}

.recipe-ingredients-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 2em;
}

.recipe-ingredients-list {
  font-size: 1em;
  font-weight: 400;
  margin-top: 1em;
  text-align: left;
}

.recipe-ingredients-list-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.ingredient  {
  margin: -0.5em;
  padding: 0;
}

.full-image-title {
  color: white;
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
}

.full-image-description {
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
}

.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5rem;
  color: white; /* Added missing semicolon */
  cursor: pointer;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.close-icon:hover,
.close-icon:focus {
  transform: scale(1.3);
}