

body {
  background-color: #FDECE0;
  color: black;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  width: 100%;
  height: 100%;

}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100 vw;
  height: 100vh;
}

.landing-title {
  font-size: 6em;
  line-height: 1.1;
  text-align: center;
  font-weight: 700;
}


.button {
  background-color: #6C3E10;
  color: white;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #735232;
}

.bear {
  height: 25em;
  margin-top: -2em;
}

.landing-description {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.selector-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100 vw;
  height: 100vh;
}

.selector {
  width: 60vw;
}

.selector-intolerances {
  color: black;
  margin-block: 1em;
}

.selector-intolerances-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.selector-cuisines {
  color: black;
  margin-block: 1em
}

.selector-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-left: 3em;
}

.btn-select-cuisine {
  background-color: #6C3E10;
  width: 300px;
  color: white;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  margin-block: 0.5em;
  cursor: pointer;
}

.btn-select-cuisine:hover {
  background-color: #735232;
  color: white
}

.btn-check:checked + .btn-select-cuisine {
  background-color: #5c5c5c; 
  color: white;
}

.selector-bear {
  padding-top: 15em;
}

.selector-bear-image {
  width: 35em;
  margin-top: -3em;
}

.selector-bear-title {
  font-size: 4em;
  font-weight: 700;
  margin-top: 1em;
}

.meals-title {
  font-size: 3em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

.meal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2em;
}

.meal-card {
  background-color: #6C3E10;
  border-radius: 1em;
  width: 25vw;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.meal-image {
  width: 85%;
  border-radius: 1em;
}

.meal-title {
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1em;
}